/*                                                   Author: Ing Carlos Allen                                               /*
/*                                               https://github.com/CarlosAllen93                                           /*
/*                                               contact : allencarlosDev@gmail.com                                         /*

/* /////////////////////////////////////////////////////////////////////// General ////////////////////////////////////////////// */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'open sans';
    background-color: #3e0796;
}

html {
    scroll-behavior: smooth;
}
.container {
    padding: 60px 0;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
.title {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/* //////////////////////////////// HEADER  ////////////////////////////*/

header {
    width: 100%;
    height: 600px;
    background: #8d2ce2;
      /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(75, 0, 224, 0.7), hsla(272, 76%, 53%, 0.600)), url(../img/portada1.svg);
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(75, 0, 224, 0.7), hsla(272, 76%, 53%, 0.600)), url(../img/portada1.svg);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 25px 60px 0 0;
}

.nav-menu li {
    display: inline-block;
}

.nav-menu a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    padding: 8px;
}

.nav-menu a:hover {
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 3px 15px 5px #8d2ce2;
    transition-delay: 0.01s;
    transition-duration: .2s;
}

.checkbtn {
    font-size: 2rem;
    color: #fff;
    text-align: left;
    margin: 15px 0 30px 15px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


header .header-text {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.header-text h1 {
    font-size: 50px;
    color: #fff;
}
.header-text h2 {
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* //////////////////////////////// Home ////////////////////////////*/

.home {
    padding:  0 0 15px 0;
}

.container-home {
    display: flex;
    justify-content: space-evenly;
}
.image-our-tecniques {
    width: 54%;
}

.home .content-texts {
    width: 40%;
}

.content-texts h3 {
    margin-bottom: 15px;
    color: #fff;
}

.content-texts h3 span {
    background: #8d2ce2;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 10px;
}

.content-texts p {
    padding: 0px 0px 30px 15px;
    color: #fff;
}

/* //////////////////////////////// Gallery ////////////////////////////*/

.gallery-of-designs {
    background: #4710a0;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.images-gallery {
    width: 33%;
    height: 300px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.images-gallery > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.hover-gallery {
    background: hsla(272, 76%, 53%, .6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-gallery p {
    color: #fff;
    padding: 30px;
}

.hover-gallery h3 {
    color: #fff;
}

.images-gallery:hover .hover-gallery {
    transform: scale(1);
}
/* //////////////////////////////// About ////////////////////////////*/
.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #4710a0;
    display: flex;
    width: 95%;
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

.cards .card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .content-text-card {
    width: 65%;
    color: #fff;
}

.cards .card > .content-text-card p {
    font-weight: 300;
    padding-top: 10px;
}
/* //////////////////////////////// Services ////////////////////////////*/

.services {
    background: #4710a0;
    padding-bottom: 60px;
    padding-top: 60px;
}

.service-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.service-individual {
    background-color: #3e0796;
    border-radius: 20px;
    padding-bottom: 30px;
    width: 40%;
    text-align: center;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    position: relative;
}

.service-individual img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.service-individual:before {
    content: "";
    background: linear-gradient(to right, rgba(75, 0, 224, 0.7), hsla(272, 76%, 53%, 0.600));
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    position: absolute;

}

.service-individual h3 {
    margin: 10px 0;
    color: #fff;
}

.service-individual p {
    color: #fff;
    font-weight: 300;
    text-align: center;
    padding: 15px;
}

/* //////////////////////////////// Footer - contact ////////////////////////////*/

footer {
    background-color: #3e0796;
    padding: 60px 0 30px 0;
    height: 300px;
    margin:auto;
    overflow: hidden;
    position: relative;
}

.wave-footer {
    position: absolute;
    top: 0;
    width: 100%;
}

.content-footer {
    width: 40%;
    display: flex;
    padding-top: 40px;
    border-bottom: 2px solid #8d2ce2;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    flex-direction: column;
}

.content-footer h6 {
    color: #fff;
    padding-bottom: 10px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
}

.socials li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    padding: 8px 15px 8px 15px;
}

.socials li a:hover {
    color: #8d2ce2;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    box-shadow: 2px 3px 15px 5px #8d2ce2;
    transition-delay: 0.01s;
    transition-duration: .2s;
}

.copyright {
    margin: 20px 100px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
}

/* //////////////////////////////// Btn-scrolltop ////////////////////////////*/

.btn-scrolltop {
    background: #3e0796;
    color:#8d2ce2;
    border-radius: 50%;
    font-size: 2em;
    border: none;
    box-shadow: 0 0 15px 0 #8d2ce2;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    cursor: pointer;
    transform: scale(0);
    transition: .3s;
}

.btn-scrolltop-on {
    transform: scale(1);
}

/* //////////////////////////////// Animation ////////////////////////////*/

img {
    opacity: .5;
    transition: all .7s;
}

.transform_up {
    transform: translateY(20%);
}

.transform_down {
    transform: translateY(-20%);
}

.transform_left {
    transform: translateX(20%);
}

.transform_right {
    transform: translateX(-20%);
}

.appear {
    opacity: 1;
    transform:none;
}

#about .fade_down {
    transition: all .7s;
}

#about .fade_up {
    transition: all .7s;
}

#home .fade_right {
    transition: all .7s;
}

#services .fade_down {
    transition: all .7s;
}
/* //////////////////////////////// Preload ////////////////////////////*/

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #cef;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

.loader-background {
    position: fixed;
    z-index:50000;
    background: linear-gradient(90deg, rgba(62,7,150,1) 0%, rgba(96,33,196,1) 39%, rgba(141,44,226,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path:circle(150% at 100% 0);
    transition: clip-path 0.8s ease-in-out;
    flex-direction: column;
}

.loader-background h2 {
    top: 15px;
    color: #fff;
}

.loader-background2 {
    clip-path:circle(0% at 100% 0) ;
}

.loader {
    width: 300px;
    height: 300px;
}


/* //////////////////////////////// Responsive Design ////////////////////////////*/

@media screen and (max-width:950px) {
    header {
        background-position: center;
    }
    /* Home */
    .container-home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-home .content-texts {
        width: 90%;
    }

    .image-our-tecniques {
        width: 90%;
    }

    .transform_right {
        transform: translateX(4%);
    }

    /* Gallery */
    .images-gallery {
        width: 44%;
    }

    /* About */
    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        width: 90%;
        padding: 15px;
    }

    .cards .card img {
        width: 150px;
        height: 150px;
    }

    .content-text-card p {
        font-weight: 300;
        padding-left: 15px;
    }

    .content-text-card h4 {
        padding: 10px;
    }

    .card .transform_left {
        transform: translateX(4%);
    }

    /* Services */

    .service-container {
        justify-content: center;
        flex-direction: column;
    }

    .service-individual {
        width: 90%;
        text-align: center;
        margin-bottom: 50px;
    }

    .services .transform_down {
        transform: translateY(0%);
    }

    /* Footer - Contact*/

    .content-footer {
        width: 80%;
    }

}

@media screen and (max-width:500px) {

    /* general */

    .container {
        padding: 0;
    }

    /* Menu - responsive */

    .background-menu {
        background: hsla(272, 76%, 53%, 0.2);
        position: fixed;
        width: 100%;
        height: 80px;
        z-index: 29000;
        top: 0;
    }

    #check {
        position: fixed;
        z-index: 30000;
    }
    .checkbtn {
        position: fixed;
        display: block;
        z-index: 31000;
    }

    .nav-menu {
        position: fixed;
        width: 100%;
        height: 70vh;
        background: linear-gradient(90deg, rgba(62,7,150,1) 0%, rgba(96,33,196,1) 39%, rgba(141,44,226,1) 100%);
        text-align: center;
        top: 80px;
        left: -100%;
        transition: all .5s;
        z-index: 40000;
    }

    .nav-menu li {
        display: block;
        margin-top: 35px;
    }

    .nav-menu a {
        margin-top: 15px;
    }

    .nav-menu a:hover {
        color: #3e0796;
        box-shadow: none;
    }

    #check:checked ~ ul {
        left: 0;
    }

    /* Home */
    .header-text h1 {
        font-size: 25px;
    }
    .header-text h2 {
        font-size: 15px;
    }

    .image-our-tecniques {
        margin-bottom: 60px;
    }
    /* Gallery */

    .title {
        margin-top: 0;
    }

    .images-gallery {
        width: 95%;
    }

    /* Services */

    .cards .card > .content-text-card {
        width: 100%;
    }

    .cards {
        padding-bottom: 60px;
    }
    .cards .card {
        width: 99%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Services */

    .services {
        padding-top: 0;
    }

    /* Footer - Contact */

    footer {
        padding: 10px 0 30px 0;
        height: 300px;
    }

    .content-footer {
        width: 95%;
        padding-top: 40px;
    }

    .socials {
        justify-content: space-around;
        margin: 80px 0 30px 0;
        width: 90%;
    }


    .socials li a {
        font-size: 1.8em;
        margin: 10px;
        padding: 4px;
    }

    .socials li a:hover {
        color: #8d2ce2;
        margin: 5px;
        padding: 1px;
        border-radius: 2px;
        box-shadow: 1px 2px 5px 5px #8d2ce2;
    }

    .copyright {
        margin: 5px 5px;
        font-size: 12px;
    }

    /* //////////////////////////////// Btn-scrolltop ////////////////////////////*/

    .btn-scrolltop {
        font-size: 1.5em;
        box-shadow: 0 0 10px 0 #8d2ce2;
        bottom: 10px;
        right: 10px;
        padding: 5px 10px;

    }

}
